<mat-card>
  <form [formGroup]="candidateForm" (change)="checkValidity()" (ngSubmit)="sendDetails()">
    <div class="center head">Candidate Information</div>
    <br/><br/>
    <mat-form-field>
      <label>Name</label>
      <input matInput value="" formControlName="candidateName"
          pattern="[a-zA-Z\s]{2,}">
      <mat-error *ngIf="candidateForm.controls.candidateName.errors &&
        candidateForm.controls.candidateName.touched">
        Please enter a valid name
      </mat-error>
    </mat-form-field>
    <mat-form-field class="rightElement">
      <label>Email</label>
      <input matInput type="email" formControlName="candidateEmail">
      <mat-error *ngIf="candidateForm.controls.candidateEmail.errors &&
        candidateForm.controls.candidateEmail.errors.emailError!=null &&
        candidateForm.controls.candidateEmail.dirty">
        {{candidateForm.controls.candidateEmail.errors.emailError.message}}
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <label>Address</label>
      <textarea class="address" matInput formControlName="candidateAddress">
      </textarea>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <label>Country</label>
      <mat-select name="country" formControlName="candidateCountry"
      (selectionChange)="countryChanged()">
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="rightElement">
      <label>State</label>
      <mat-select formControlName="candidateState" id="stateSelect"
        [disabled]="stateDisable" (selectionChange)="stateChanged()">
        <mat-option *ngFor="let state of states" [value]="state.id">
          {{state.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="rightElement">
      <label>City</label>
      <mat-select formControlName="candidateCity" id="citySelect"
        [disabled]="cityDisable">
        <mat-option *ngFor="let city of cities" [value]="city.id">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/><br/>
    <section>
      <label>Preferred Locations</label><br/>
      <mat-checkbox class="check-margin" formControlName="locBangalore">Bangalore</mat-checkbox>
      <mat-checkbox class="check-margin" formControlName="locChennai">Chennai</mat-checkbox>
      <mat-checkbox class="check-margin" formControlName="locMumbai">Mumbai</mat-checkbox>
      <mat-checkbox class="check-margin" formControlName="locDelhi">Delhi</mat-checkbox>
    </section>
    <br/>
    <mat-radio-group formControlName="candidateExp" (change)="expChanged()">
      <label class="expLabel">Are you experienced?</label>
      <mat-radio-button  value="Yes">Yes</mat-radio-button>
      <mat-radio-button value="No" [checked]="true">No</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="rightElement inline">
      <label>Years of experience</label>
      <input matInput formControlName="candidateExpYears" pattern="[0-9]{1,2}">
      <mat-error *ngIf="candidateForm.controls.candidateExpYears.errors &&
        candidateForm.controls.candidateExpYears.touched">
        Please enter a valid number
      </mat-error>
    </mat-form-field>
    <mat-card>
      <mat-card-title class="card-title">
        Skills
      </mat-card-title>
      <table formArrayName="skills">
        <tr *ngFor="let skill of skills().controls; let i=index" [formGroupName]="i">
          <td>
            <mat-form-field>
              <label>Skill Name</label>
              <input matInput value=""
                  formControlName="skillName">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="rightSmallElement">
              <label>Description</label>
              <textarea rows="1" matInput formControlName="skillDescription">
              </textarea>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="rightSmallElement">
              <label>Skill Level</label>
              <mat-select formControlName="skillLevel">
                <mat-option value="Beginner">Beginner</mat-option>
                <mat-option value="Intermediate">Intermediate</mat-option>
                <mat-option value="Advanced">Advanced</mat-option>
                <mat-option value="Expert">Expert </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <br/>
      <div class="center">
        <button type="button" color="primary" mat-raised-button (click)="addSkill()">
          Add Skill
        </button>
      </div>
    </mat-card>
    <br/>
    <div class="center">
      <button type="submit" mat-raised-button
        color="primary" [disabled]="formInvalid">Submit</button>
    </div>
  </form>
</mat-card>
